<!--整体html-->
[#macro html]
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="lyc" name="author"/>
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css"/>
</head>
</body>
[#nested]
</body>
</html>
[/#macro]

<!--js部分 方便扩展-->
[#macro js]
<script src="/assets/js/app.min.js" type="text/javascript"></script>
[#nested]
[/#macro]