<div class="modal-content" id="selectMenu">
    <div class="modal-header modal-colored-header bg-dark">
        <h5 class="modal-title">配置菜单</h5>
        <div>
            <i class="cs cs-shuaxin pointer" show="tooltip" target="modal-reflesh" data-title="刷新"></i>
            <i class="cs cs-fangda pointer" show="tooltip" target="modal-expand" data-title="缩放"></i>
            <i class="cs cs-close pointer" show="tooltip" target="modal-close" data-title="关闭"></i>
        </div>
    </div>
    <div class="modal-body">
        <form class="pl-3 pr-3" action="/admin/permission/saveMenu">
            <input type="hidden" name="type" value="${(bean.type)!}">
            <input type="hidden" name="appid" value="${bean.appid}">
            <div class="form-group">
                <input id="menuSearch" class="form-control" autocomplete="off" type="text"   placeholder="Search...">
            </div>
            <div class="form-group">
                <ul id="selectMenus" target="tree" data-suc="selectMenu.search" data-appid="${bean.appid}" data-url="/admin/permission/menuTree" check ></ul>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" target="modal-close">关闭</button>
        <button type="button" class="btn btn-primary" target="form" data-bef="selectMenu.bef" data-suc="selectMenu.suc">
            保存
        </button>
    </div>
</div>
<script>
    var selectMenu = {
        bef: function ($this, data) {
            var ztree = $('#selectMenus').data('tree').ztree;
            var datas = {};
            if (ztree)
                datas = Tool.toObject(ztree.getChangeCheckedNodes(),"id","name");
            return datas;
        },
        suc: function(){
            if ($('#modal').length > 0) {
                $('#modal').modal('hide')
            }
            if ($('.nav > li > .active').length > 0) {
                $('.nav > li > .active').eq(0).trigger('click')
            }
        },
        search:function () {
            Tree.fuzzySearch('selectMenus','#menuSearch',null,true);
        }
    }
    //# sourceURL=selectMenu.js
</script>