<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app">
    <select id="getUserbyid" parameterType="int" resultType="com.jiopeel.core.bean.User">
        select * from t_user where  t_user.id=#{_paramer}
    </select>

    <insert id="saveuserGrant" parameterType="com.jiopeel.core.bean.UserGrant">
        insert into t_user_grant (id,userid,granttype,onlyid,token,imgurl,nickname,ctime,updtime)
         values (#{id},#{userid},#{granttype},#{onlyid},#{token},#{imgurl},#{nickname},#{ctime},#{updtime})
    </insert>

    <update id="upduserGrant" parameterType="com.jiopeel.core.bean.UserGrant">
        update t_user_grant
        set token=#{token},
        imgurl=#{imgurl},
        nickname=#{nickname},
        updtime=#{updtime}
        where 1=1
        and id=#{id}
    </update>
</mapper>